.form-complete {
    display: flex;
    justify-content: center;

    header{
        display: flex;
        height: 4rem;
    }

    .label{
        color: black;
    }

    .sip-story {

        button{
            /* height: 2rem; */
        }
    }
}
    